<h3 class="text-center animated rubberBand">
  Review your event<br />
  <small>
    After you review your event selection, you will be forwarded to make changes
  </small>
</h3>

<div class="form-wrapper">
  <hgroup class="text-center">
    <div class="data-large">
      <h3>Event</h3>
      <h4>
        {{content.eventTitle}} on {{format-moment content.eventDate}}
      </h4>
    </div>
    <div class="data-large">
      {{#if eventSelection.requiresSupport}}
        <h3>
          Supporting Documents
        </h3>
        <h4>
          {{#if content.attachments}}
            {{content.attachments.length}} Attachments [{{content.attachments.firstObject.labels.firstObject}}]
          {{else}}
            <i class="fa fa-exclamation-triangle"></i> Documents not supplied. Your changes will be delayed until we receive your supporting documentation.
          {{/if}}
        </h4>
      {{else}}
        <h3>
          Supporting documents not required for this event
        </h3>
      {{/if}}
    </div>
  </hgroup>

  {{#agreement-checkbox value=agreement}}
    <p>
      By agreeing to these terms and conditions you are agreeing the following items:
    </p>
    <p>
      <ul>
        <li>The event [{{content.eventTitle}}] occurred on {{format-moment content.eventDate}}</li>
        <li>You are legally related to the event</li>
        <li>You are {{session.currentUser.fullName}}</li>
      </ul>
    </p>
    <p>
      AE Trust is entitled to:
      <ul>
        <li>Reject your changes</li>
        <li>Contact you for additional information</li>
      </ul>
    </p>
  {{/agreement-checkbox}}

  <button class="btn btn-success btn-block" {{action "saveEnrollmentReview"}} disabled={{notAgreed}}>
    Next
  </button>
</div>
