<h3 class="text-center animated rubberBand">
  Review your change request<br />
  <small>
    After you review and accept your change request, you will be forwarded to make changes
  </small>
</h3>

<div class="form-wrapper">
  <hgroup class="text-center">
    <div class="data-large">
      <h3>Event</h3>
      <h4>
        {{content.eventTitle}} on {{format-moment content.eventDate}}
      </h4>
    </div>
    <div class="data-large">
      <h3>
        Supplemental Documents
      </h3>
      <h4>
        {{#if content.attachments}}
          {{content.attachments.length}} Attachments [{{content.attachments.firstObject.labels.firstObject}}]
        {{else}}
          <i class="fa fa-exclamation-triangle"></i> Documents not supplied
        {{/if}}
      </h4>
    </div>
  </hgroup>

  {{#agreement-checkbox}}
    <p>
      By agreeing to these terms and conditions you are agreeing the following items:
    </p>
    <p>
      <ul>
        <li>The event [{{content.eventTitle}}] occurred on {{format-moment content.eventDate}}</li>
        <li>You are legally related to the event</li>
        <li>You are {{session.currentUser.fullName}}</li>
      </ul>
    </p>
    <p>
      AE Trust is entitled to:
      <ul>
        <li>Reject your changes</li>
        <li>Contact you for additional information</li>
      </ul>
    </p>
  {{/agreement-checkbox}}

  {{signature-pad}}

  <button class="btn btn-success btn-block" {{action "saveEnrollmentReview"}}>
    Next
  </button>
</div>
