{{yield}}

{{#if label}}
  <h5>{{{label}}}</h5>
{{/if}}

{{input type="checkbox" id=inputId class=toggleClass checked=value}}
<label class="toggle-btn {{if sm 'toggle-sm'}}" for="{{inputId}}"></label>
