{{#each blocks as |block|}}
  <div title={{{block.tooltip}}} class="grid-block {{if block.selected 'selected'}} {{if block.tooltip 'tooltip-trigger'}}" style={{blockStyle}} data-placement="bottom" data-container="body" data-html="true" {{action "selectBlock" block}}>{{block.name}}</div>
{{/each}}
