<div class="row">
  <div class="col-md-4">
    <label for={{yearInputId}} class="sr-only">Year</label>
    {{input/x-select selectId=yearInputId content=years selection=year action=(action (mut year)) prompt="YYYY"}}
  </div>
  <div class="col-md-4">
    <label for={{monthInputId}} class="sr-only">Month</label>
    {{input/x-select selectId=monthInputId content=months selection=month action=(action (mut month)) prompt="MM"}}
  </div>
  <div class="col-md-4">
    <label for={{dayInputId}} class="sr-only">Day</label>
    {{input/x-select selectId=dayInputId content=days selection=day action=(action (mut day)) prompt="DD" selectDisabled=noDays}}
  </div>
</div>
