<div class="row">
  <div class="col-md-4">
    <label for={{yearInputId}} class="sr-only">Year</label>
    {{view 'select' id=yearInputId class="form-control" content=years value=year prompt="YYYY"}}
  </div>
  <div class="col-md-4">
    <label for={{monthInputId}} class="sr-only">Month</label>
    {{view 'select' id=monthInputId class="form-control" content=months value=month prompt="MM"}}
  </div>
  <div class="col-md-4">
    <label for={{dayInputId}} class="sr-only">Day</label>
    {{view 'select' id=dayInputId class="form-control" content=days value=day prompt="DD" disabled=noDays}}
  </div>
</div>
