<div class="info-viewer-pane">
  <ul class="info-viewer-tabs">
    <li class="tooltip-trigger {{if employee.selected 'selected'}}" title="{{employee.firstName}}" data-placement="left">
      <a href="#" {{action 'selectObject' employee}}>
        <i class="fa fa-fw fa-star"></i>
      </a>
    </li>
    {{#each employee.dependents as |dependent|}}
      <li class="tooltip-trigger {{if dependent.selected 'selected'}}" title="{{dependent.firstName}}" data-placement="left">
        <a href="#" {{action 'selectObject' dependent}}>
          <i class="fa fa-fw fa-{{if isChild 'child' 'user'}}"></i>
        </a>
      </li>
    {{/each}}
  </ul>

  <hgroup class="viewer-heading">
    <h2>
      <i class="fa fa-fw fa-{{if selectedIsMale 'male' 'female'}}"></i>
      {{selectedInfo.firstName}}

      <small class="pull-right">
        {{#each coverage as |status|}}
          {{#if status.covered}}
            <span class="label label-success">{{title-case status.type}}</span>
          {{/if}}
        {{/each}}
      </small>
    </h2>

    <h5 class="text-right">
      {{#if selectedInfo.relationship}}
        {{selectedInfo.relationship}}
      {{else}}
        Primary
      {{/if}}
    </h5>
  </hgroup>

  <div class="row">
    <div class="col-md-4 viewer-content-section">
      <div class="viewer-content">
        <h3><i class="fa fa-home"></i> Address</h3>
        <p>
          {{#if selectedInfo.hasAddress}}
            {{selectedInfo.addressLine1}}<br />
            {{#if selectedInfo.addressLine2}}{{selectedInfo.addressLine2}}<br />{{/if}}
            {{selectedInfo.addressCity}}, {{selectedInfo.addressState}} {{selectedInfo.addressZipcode}}
          {{else}}
            Same as employee
          {{/if}}
        </p>
      </div>
    </div>

    <div class="col-md-4">

    </div>

    <div class="col-md-4">

    </div>
  </div>
</div>
