<div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar" aria-valuenow={{progress}} aria-valuemin={{min}} aria-valuemax={{max}} style="{{style}}">
  {{progress}}% complete
</div>
