<div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar" {{bind-attr aria-valuenow=progress}} {{bind-attr aria-valuemin=min}} {{bind-attr aria-valuemax=max}} {{bind-attr style=style}}>
  {{progress}}% complete
</div>