<a href="#" class="hidden-md show-sm-menu-link" {{action "toggleProperty" "showSmallMenu"}}>
  {{#if showSmallMenu}}Hide{{else}}Show{{/if}}
  Form Menu
</a>
<ul class="titles {{if showSmallMenu 'show-sm-menu'}}">
  {{#each links as |link|}}
    <li class="title {{if link.active 'active'}}">
      <a href="#" {{action "changeActive" link.title}}>{{link.display}}</a>
      {{#if link.subtitles}}
        <ul class="subtitles">
          {{#each link.subtitles as |subtitle|}}
            <li class="subtitle {{if subtitle.active 'active'}}">
              <a href="#" {{action "changeActive" subtitle.title}}>{{subtitle.display}}</a>
            </li>
          {{/each}}
        </ul>
      {{/if}}
    </li>
  {{/each}}
</ul>

{{yield}}
