<div class="row employee-form-container">
  <div class="col-md-6">
    {{error-display prefix="Error fetching locations" message=locationsError bg=false}}

    {{#form-steps class="employee-form" for=this validWith=validWith qualification=validityQualification includeStepNames=true finish="submit"}}
      {{#form-step title="Select An Employee Type"}}
        <div class="form-group text-center">
          {{#radio-button
            value=false
            groupValue=existing
            name="existing-radio"
            class="radio-btn radio-btn-primary"}}
            <span class="radio-text"><i class="fa fa-fw fa-user-plus"></i> New Employee</span>
          {{/radio-button}}
          {{#radio-button
            value=true
            groupValue=existing
            name="existing-radio"
            class="radio-btn radio-btn-default"}}
            <span class="radio-text"><i class="fa fa-fw fa-user"></i> Existing Employee That Is Now Eligible</span>
          {{/radio-button}}
        </div>
      {{/form-step}}

      {{#form-step title="Name" allowSkip=true}}
        <div class="row">
          <div class="form-group col-md-5">
            {{form-input type="text" value=firstName placeholder="First Name"}}
          </div>
          <div class="col-md-2">
            {{form-input type="text" value=middleInitial placeholder="M.I."}}
          </div>
          <div class="form-group col-md-5">
            {{form-input type="text" value=lastName placeholder="Last Name"}}
          </div>
        </div>
      {{/form-step}}

      {{#form-step title="Select Work Location"}}
        <div class="form-group">
          {{input/x-select content=companyLocations optionLabelPath="addressFormatted" selection=location action=(action (mut location))}}
        </div>
      {{/form-step}}

      {{#form-step title="Hire Date" autofocus=false}}
        <div class="form-group left-inner-addon">
          <i class="fa fa-fw fa-calendar text-addon-left"></i>
          {{date-picker value=legacyClientEmploymentDate textValue=employmentTextValue clear=false min=datePickerSettings.min max=datePickerSettings.max}}
        </div>
      {{/form-step}}

      {{#form-step name="SSN" title="Social Security Number"}}
        <div class="form-group">
          {{form-input type="password" value=ssn placeholder="Social Security #"}}
        </div>
      {{/form-step}}

      {{#form-step name="Address" title="Address" allowSkip=true}}
        <div class="form-group">
          {{form-input type="text" value=addressLine1 placeholder="Address"}}
        </div>
        <div class="form-group">
          {{form-input type="text" value=addressLine2 placeholder="Suite/Apt."}}
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              {{form-input type="text" value=city placeholder="City"}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              {{input/x-select content=states optionLabelPath="l" optionValuePath="v" selection=state action=(action (mut state))}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              {{form-input type="text" value=zipcode placeholder="Zipcode"}}
            </div>
          </div>
        </div>
      {{/form-step}}
    {{/form-steps}}
  </div>
  <div class="col-md-6">
    <div class="employee-card">
      <div class="bottom-right-corner text-muted">
        <i class="fa fa-fw fa-{{if ssn 'check-circle' 'ellipsis-h'}}"></i>
      </div>

      {{#if legacyClientEmploymentDate}}
        <div class="top-right-corner text-muted text-sm">
          {{format-moment legacyClientEmploymentDate}}
        </div>
      {{/if}}

      <div class="employee-card-heading">
        {{#if name}}
          <h3>{{firstName}} {{middleInitial}} {{lastName}}</h3>
        {{else}}
          <span class="card-filler"></span>
        {{/if}}
      </div>

      <div class="employee-card-body">
        {{#if ssn}}
          <i class="fa fa-fw fa-lock"></i> {{ssnMasked}}
        {{else}}
          <span class="card-filler short various-length"></span>
        {{/if}}

        {{#if address}}
          <p>
            {{addressLine1}}
            {{#if addressLine2}}
              <br />{{addressLine2}}
            {{/if}}
            <br />{{city}}, {{state}} {{zipcode}}
          </p>
        {{else}}
          <span class="card-filler short various-length"></span>
        {{/if}}
      </div>
    </div>
  </div>
</div>

<div class="text-center text-sm bulk-mode">
  {{#link-to 'company-account.add-employees.bulk'}}
    <i class="fa fa-fw fa-exchange"></i>
    Switch to <strong>bulk addition</strong> mode (CSV/XLS/XLSX)
  {{/link-to}}
</div>
