<div class="page-margins">
  <div class="row page-title">
    <div class="col-md-6">
      <h3>Employees</h3>
    </div>
    <div class="col-md-6">
      <ul class="page-controls">
        <li class="tooltip-trigger" data-placement="left" title="Add Employees...">
          {{#link-to 'company-account.add-employees'}}
            <i class="fa fa-fw fa-user-plus"></i>
          {{/link-to}}
        </li>
      </ul>
    </div>
  </div>

  <ul class="nav nav-tabs" role="tablist">
    <li class="{{if showingActive 'active'}}">
      <a href="#" {{action "show" "active"}}>Active</a>
    </li>
    <li class="{{if showingTerminated 'active'}}">
      <a href="#" {{action "show" "terminated"}}>Terminated</a>
    </li>
    <div class="pull-right nav-tab-inline">
      <a href="#" {{action "toggleProperty" "sortAsc"}}>
        {{#if showingActive}}Hire{{else}}Termination{{/if}} date <i class="fa fa-caret-{{if sortAsc 'down' 'up'}}"></i>
      </a>
    </div>
  </ul>

  <div class="tab-content limited-pane">
    <ul class="list-group">
      {{#liquid-if showingActive use="toLeft"}}
        {{#each sortedActiveEmployees as |employee|}}
          <li class="list-group-item">
            {{#link-to 'company-account.employee' employee.id}}
              {{employee.fullName}}
            {{/link-to}}

            <span class="pull-right text-muted">
              Hire date: {{format-moment employee.legacyClientEmploymentDate}}
            </span>
          </li>
        {{else}}
          <li>No Active Employees</li>
        {{/each}}
      {{else}}
        {{#each sortedTerminatedEmployees as |employee|}}
          <li class="list-group-item">
            {{#link-to 'company-account.employee' employee.id}}
              {{employee.fullName}}
              <span class="pull-right text-muted">
                Termination date: {{format-moment employee.legacyClientTerminationDate}}
              </span>
            {{/link-to}}
          </li>
        {{else}}
          <li>No Terminated Employees</li>
        {{/each}}
      {{/liquid-if}}
    </ul>
  </div>
</div>
