<ul class="nav nav-tabs" role="tablist">
  <li {{bind-attr class="showingActive:active"}}>
    <a href="#" {{action "show" "active"}}>Active</a>
  </li>
  <li {{bind-attr class="showingTerminated:active"}}>
    <a href="#" {{action "show" "terminated"}}>Terminated</a>
  </li>
  <div class="pull-right nav-tab-inline">
    <a href="#" {{action "toggleProperty" "sortasc"}}>
      {{#if showingActive}}Hire{{else}}Termination{{/if}} date <i {{bind-attr class=":fa sortasc:fa-caret-down:fa-caret-up"}}></i>
    </a>
  </div>
</ul>

<div class="tab-content limited-pane">
  <ul class="list-group">
    {{#if showingActive}}
      {{#each employee in activeEmployees}}
        <li class="list-group-item">
          {{#link-to 'company-account.employee' employee.id}}
            {{employee.fullName}}
            <span class="pull-right text-muted">
              Hire date: {{format-moment employee.legacyClientEmploymentDate}}
            </span>
          {{/link-to}}
        </li>
      {{else}}
        <li>No Active Employees</li>
      {{/each}}
    {{/if}}
    {{#if showingTerminated}}
      {{#each employee in terminatedEmployees}}
        <li class="list-group-item">
          {{#link-to 'company-account.employee' employee.id}}
            {{employee.fullName}}
            <span class="pull-right text-muted">
              Termination date: {{format-moment employee.legacyClientTerminationDate}}
            </span>
          {{/link-to}}
        </li>
      {{else}}
        <li>No Terminated Employees</li>
      {{/each}}
    {{/if}}
  </ul>
</div>

{{outlet}}
