<div class="enrollment-card container">
  <h2>
    Let's get to know you.<br />
    <small>
      Here we will collect your name, address, and other basic information.
    </small>
  </h2>
  <hr />

  <h3>Name</h3>
  <div class="row">
    {{#validated-field class="col-md-4 with-label with-col" valid=validity.firstName}}
      <label for="first-name">First Name</label>
      {{form-input id="first-name" value=model.firstName placeholder="John"}}
    {{/validated-field}}
    <div class="col-md-2 form-group">
      <label for="middle-initial">Middle Initial</label>
      {{form-input id="middle-initial" value=model.middleInitial placeholder="A"}}
    </div>
    {{#validated-field class="col-md-4 with-label with-col" valid=validity.lastName}}
      <label for="last-name">Last Name</label>
      {{form-input id="last-name" value=model.lastName placeholder="Smith"}}
    {{/validated-field}}
    <div class="col-md-2 form-group">
      <label for="suffix">Suffix</label>
      {{input/x-select inputId="suffix" content=suffixes selection=model.suffix prompt="None" action=(action (mut model.suffix))}}
    </div>
  </div>

  <h3>{{#liquid-if model.firstName}}Hi, {{model.firstName}}! What's your Mailing Address?{{else}}Mailing Address{{/liquid-if}}</h3>
  {{#validated-field valid=validity.addressLine1}}
    <label for="address-line-1" class="sr-only">P.O. Box or Street Address</label>
    {{form-input id="address-line-1" value=model.addressLine1 placeholder="P.O. Box or Street Address"}}
  {{/validated-field}}
  <div class="form-group">
    <label for="address-line-2" class="sr-only">Apartment/Suite</label>
    {{form-input id="address-line-2" value=model.addressLine2 placeholder="Apt./Suite"}}
  </div>
  <div class="row">
    {{#validated-field class="col-md-4 with-col with-label" valid=validity.addressCity}}
      <label for="address-city">City</label>
      {{form-input id="address-city" value=model.addressCity placeholder="Billings"}}
    {{/validated-field}}
    <div class="col-md-4">
      <div class="form-group">
        <label for="address-state">State</label>
        {{input/x-select inputId="address-state" content=states optionValuePath="v" optionLabelPath="l" selection=model.addressState action=(action (mut model.addressState))}}
      </div>
    </div>
    {{#validated-field class="col-md-4 with-col with-label" valid=validity.addressZipcode}}
      <label for="address-zipcode">Zipcode</label>
      {{form-input id="address-zipcode" type="number" value=model.addressZipcode placeholder="59102"}}
    {{/validated-field}}
  </div>

  <h3>Just a few more things about you</h3>
  <div class="row">
    {{#validated-field class="col-md-4 with-col with-label is-select" valid=validity.gender}}
      <label for="info-gender">Gender</label>
      {{gender-picker inputId="info-gender" value=model.gender}}
    {{/validated-field}}
    {{#validated-field class="col-md-4 with-col with-label is-select" valid=validity.maritalStatus}}
      <label for="info-marital">Marital Status</label>
      {{input/x-select inputId="info-marital" content=maritalStatuses selection=model.maritalStatus prompt="Please Select" action=(action (mut model.maritalStatus))}}
    {{/validated-field}}
    {{#validated-field class="col-md-4 with-col on-label" valid=validity.dateOfBirth}}
      <label for="info-dob">Date of Birth</label>
      {{dob-picker id="info-dob" value=model.dateOfBirth}}
    {{/validated-field}}
  </div>

  {{#liquid-if isNotValid}}
    <hr />
    <p class="text-center text-danger">
      {{#liquid-if showInvalid}}
        The following fields are invalid:
        <ul class="text-left">
        {{#each invalid as |field|}}
          <li>
            <a href="#" class="text-danger" {{action "focusInput" field.id}}>{{field.name}}</a>
          </li>
        {{/each}}
        </ul>
      {{else}}
        <a href="#" class="text-danger" {{action "toggleProperty" "showInvalid"}}><i class="fa fa-fw fa-times-circle"></i> Why is this page invalid?</a>
      {{/liquid-if}}
    </p>
  {{else}}
    <h3 class="text-center text-success">
      <i class="fa fa-fw fa-thumbs-o-up"></i> Looks good! Click "Next" below to proceed to the next step.
    </h3>
  {{/liquid-if}}
</div>
