<section class="setting-section">
  <h4 class="section-title">
    <i class="fa fa-fw fa-dollar"></i> Contribution
  </h4>
  <hr />
  <p class="text-muted text-center">
    This form allows you to adjust your contributions towards your employees' benefits. If you have more stringent contribution rules, please disable contribution display so that employees are not displayed an estimated contribution.
  </p>
  <p class="text-center">
    {{#liquid-if model.contributionEnable}}
      <span class="text-success">
        <i class="fa fa-fw fa-check"></i> Contribution display is currently <strong>enabled</strong>.
        <a href="#" {{action "toggleProperty" "model.contributionEnable"}}><i class="fa fa-fw fa-toggle-on"></i> Click to disable</a>
      </span>
    {{else}}
      <span class="text-warning">
        <i class="fa fa-fw fa-info-circle"></i> Contribution display is currently <strong>disabled</strong>.
        <a href="#" {{action "toggleProperty" "model.contributionEnable"}}><i class="fa fa-fw fa-toggle-off"></i> Click to enable</a>
      </span>
    {{/liquid-if}}
  </p>
  <form class="form-horizontal text-left {{unless model.contributionEnable 'form-disabled'}}">
    <div class="form-disabled-text">Contribution display is currently disabled. Please enable it to continue.</div>

    {{#if model.contributionOnRates}}
      {{#if model.medicalRates}}
        {{#ember-list items=model.medicalRates class="control-width" height=458 rowHeight=87}}
          <div class="form-group">
            <label for={{id}} class="col-sm-6 control-label">Contribution Towards {{planNumber}} ({{plan.name}})</label>
            <div class="col-sm-6">
              <div class="input-group">
                <div class="input-group-addon">
                  {{contributionType}}
                </div>
                {{form-input type="number" placeholder="Contribution Amount" id=id value=contribution}}
                <div class="input-group-addon">
                  {{#radio-button value="$" groupValue=contributionType name=id}}${{/radio-button}}
                  {{#radio-button value="%" groupValue=contributionType name=id}}%{{/radio-button}}
                </div>
              </div>
            </div>
          </div>
        {{/ember-list}}
      {{else}}
        <h2 class="text-center"><i class="fa fa-exclamation-triangle"></i> No Medical Rates found.</h2>
      {{/if}}
    {{else}}
      <div class="form-group">
        <label for="contribution-employee" class="col-sm-6 control-label">Contribution Towards Employee</label>
        <div class="col-sm-6">
          <div class="input-group">
            <div class="input-group-addon">
              {{model.contributionEmployeeType}}
            </div>
            {{form-input type="number" placeholder="Contribution Amount" id="contribution-employee" value=model.contributionEmployee}}
            <div class="input-group-addon">
              {{#radio-button value="$" groupValue=model.contributionEmployeeType name="contribution-type-employee"}}${{/radio-button}}
              {{#radio-button value="%" groupValue=model.contributionEmployeeType name="contribution-type-employee"}}%{{/radio-button}}
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="contribution-employee" class="col-sm-6 control-label">Contribution Towards Spouse</label>
        <div class="col-sm-6">
          <div class="input-group">
            <div class="input-group-addon">
              {{model.contributionSpouseType}}
            </div>
            {{form-input type="number" placeholder="Contribution Amount" id="contribution-spouse" value=model.contributionSpouse}}
            <div class="input-group-addon">
              {{#radio-button value="$" groupValue=model.contributionSpouseType name="contribution-type-spouse"}}${{/radio-button}}
              {{#radio-button value="%" groupValue=model.contributionSpouseType name="contribution-type-spouse"}}%{{/radio-button}}
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="contribution-employee" class="col-sm-6 control-label">Contribution Towards Children</label>
        <div class="col-sm-6">
          <div class="input-group">
            <div class="input-group-addon">
              {{model.contributionChildrenType}}
            </div>
            {{form-input type="number" placeholder="Contribution Amount" id="contribution-children" value=model.contributionChildren}}
            <div class="input-group-addon">
              {{#radio-button value="$" groupValue=model.contributionChildrenType name="contribution-type-children"}}${{/radio-button}}
              {{#radio-button value="%" groupValue=model.contributionChildrenType name="contribution-type-children"}}%{{/radio-button}}
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="contribution-network" class="col-sm-6 control-label">Limit By Network</label>
        <div class="col-sm-6">
          {{input/x-select selectId="contribution-network" content=medicalPlans selection=model.contributionNetwork prompt="All Networks" action=(action (mut model.contributionNetwork))}}
        </div>
      </div>
    {{/if}}
    <hr />
    <div class="form-group">
      <button type="submit" class="btn btn-success btn-block">Save Contributions</button>
    </div>
  </form>
</section>
