{{#viewport-max class="with-separation"}}
  <div class="row">
    <div class="col-md-5 hero-data">
      <div class="data-item">
        <h4><i class="fa fa-fw fa-money"></i> Medical Deductible</h4>
        <p>{{format-currency content.medicalRates.firstObject.deductible}}</p>
      </div>
      <div class="data-item">
        <h4><i class="fa fa-fw fa-users"></i> Dependents</h4>
        <p>{{silent-count content 'dependents'}}</p>
      </div>
      <div class="data-item">
        <h4>Other data</h4>
        <p>Data</p>
      </div>
      <div class="data-item">
        <h4>Other data</h4>
        <p>Data</p>
      </div>
    </div>

    <div class="col-md-7">
      <h3 class="text-center">
        <i class="fa fa-fw fa-angle-left"></i>Co-insurance<i class="fa fa-fw fa-angle-right"></i>
      </h3>

      {{general-chart class="no-arc-color chart-dark align-chart-center" dataset=coinsuranceDataset chartOptions=coinsuranceChart.chartOptions dataOptions=coinsuranceChart.dataOptions height='300'}}
    </div>
  </div>

  {{page-separation class="separation-bottom"}}
{{/viewport-max}}

<div class="page-color-break">
  <h1 class="employee-data-heading">
    Your Plans
    <small>
      {{#link-to 'employee-account.edit'}}<i class="fa fa-edit"></i>{{/link-to}}
    </small>
  </h1>

  <div class="row employee-account-data">
    {{#with content.medicalRates.firstObject as |medicalRate|}}
      <div class="col-md-3">
        <div class="data-circle {{unless medicalRate 'disabled'}}">
          <h3>Medical</h3>
          <p>
            {{#if medicalRate}}
              {{content.medicalPlan.name}} {{medicalRate.coInsurance}} - {{format-currency medicalRate.deductible}} Deductible
            {{else}}
              Not Carried
            {{/if}}
          </p>
        </div>
      </div>
    {{/with}}

    {{#with content.dentalRates.firstObject as |dentalRate|}}
      <div class="col-md-3">
        <div class="data-circle {{unless dentalRate 'disabled'}}">
          <h3>Dental</h3>
          <p>
            {{#if dentalRate}}
              {{#if dentalRate.voluntary}}Voluntary{{else}}Non-Voluntary{{/if}}
              {{dentalRate.name}} - {{format-currency dentalRate.deductible}} Deductible
            {{else}}
              Not Carried
            {{/if}}
          </p>
        </div>
      </div>
    {{/with}}

    {{#with content.visionRates.firstObject as |visionRate|}}
      <div class="col-md-3">
        <div class="data-circle {{unless visionRate 'disabled'}}">
          <h3>Vision</h3>
          <p>
            {{#if visionRate}}
              {{#if visionRate.voluntary}}Voluntary{{else}}Non-Voluntary{{/if}}
              {{visionRate.name}}{{#if visionRate.deductible}} - {{format-currency visionRate.deductible}} Deductible{{/if}}
            {{else}}
              Not Carried
            {{/if}}
          </p>
        </div>
      </div>
    {{/with}}

    {{#with content.lifeRates.firstObject as |lifeRate|}}
      <div class="col-md-3">
        <div class="data-circle {{unless lifeRate 'disabled'}}">
          <h3>Life</h3>
          <p>
            {{#if lifeRate}}
              {{lifeRate.name}}
            {{else}}
              Not Carried
            {{/if}}
          </p>
        </div>
      </div>
    {{/with}}
  </div>

  <hr />

  <h1 class="employee-data-heading">
    You &amp; Your Dependents
    <small>
      {{#link-to 'employee-account.edit'}}<i class="fa fa-edit"></i>{{/link-to}}
    </small>
  </h1>

  {{employee-info-viewer employee=content}}
</div>
