<h1 {{bind-attr id=section.title}} class="enrollment-title">{{section.display}}</h1>
{{#unless section.noBreak}}<hr />{{/unless}}
{{#if section.subtitles}}
  {{partial "enroll-subtitle-mixin"}}
{{else}}
  {{partial section.title}}
{{/if}}
