{{#validation-wrapper formgroup=true valid=validity.addressLine1}}
  {{input class="form-control" value=enrollment.addressLine1 placeholder="Street Address"}}
{{/validation-wrapper}}
<div class="form-group">
  {{input class="form-control" value=enrollment.addressLine2 placeholder="Apt./Suite #"}}
</div>
<div class="row">
  <div class="col-xs-4">
    {{#validation-wrapper formgroup=true valid=validity.addressCity}}
      {{input class="form-control" value=enrollment.addressCity placeholder="City"}}
    {{/validation-wrapper}}
  </div>
  <div class="col-xs-4">
    {{#validation-wrapper formgroup=true valid=validity.addressState}}
      {{view 'select' class="form-control" content=states optionLabelPath="content.l" optionValuePath="content.v" value=enrollment.addressState prompt="--Select a State--"}}
    {{/validation-wrapper}}
  </div>
  <div class="col-xs-4">
    {{#validation-wrapper formgroup=true valid=validity.addressZipcode}}
      {{input class="form-control" value=enrollment.addressZipcode placeholder="Zipcode"}}
    {{/validation-wrapper}}
  </div>
</div>
