<div class="meshed-overlay"></div>
<div class="login-background"></div>

<div class="card pad">
  <div class="card-title">
    <h1>Please Login</h1>
  </div>
  <div class="card-dialog">
    <form class="login-form" {{action "login" on="submit"}}>
      <div class="form-group {{if key 'valid'}}">
        {{input class="form-control" value=key placeholder="Company ID or Email Address"}}
      </div>

      <div class="form-group left-inner-addon {{if password 'valid'}}">
        <span class="text-addon-left"><i class="fa fa-lock"></i></span>
        {{input type="password" class="form-control" value=password placeholder="Password"}}
      </div>

      {{error-display prefix="Error logging in" message=loginError bg=false}}

      <div class="form-group">
        <button type="submit" class="btn btn-success btn-block" disabled={{loginIsNotValid}}>Login {{#liquid-if loggingIn class="liquid-inline"}}<i class="fa fa-spin fa-spinner"></i>{{/liquid-if}}</button>
      </div>
    </form>
  </div>
</div>

{{outlet}}
