{{#unless enrollment.noDependents}}
  <div class="static-dependents list-group dependent-list-group">
    {{#each dependent in enrollment.dependents}}
      {{render "dependent-item-static" dependent}}
    {{/each}}
  </div>
{{/unless}}

<form class="dependent-form" {{action "addDependent" on="submit"}}>
  <div class="list-group-item">
    <div class="form-inline text-center">

      <div class="form-group">
        <label>How is this dependent related to you?</label>
        {{relationship-picker relationship=relationship removeOptions=removeRelationships}}
      </div>

      <div {{bind-attr class=":form-group :hide-slide relationship:show"}}>
        <label>{{#if relationship}}{{relationship}}'s {{/if}}First Name</label>
        {{input class="form-control" value=firstName placeholder="First Name"}}
      </div>

      <div {{bind-attr class=":form-group :hide-slide firstName:show"}}>
        <label>M.I.</label>
        {{input class="form-control inline-sm" value=middleInitial placeholder="M.I."}}
      </div>

      <div {{bind-attr class=":form-group :hide-slide middleInitial:show"}}>
        <label>{{#if relationship}}{{relationship}}'s {{/if}}Last Name</label>
        {{input class="form-control" value=lastName placeholder="Last Name"}}
      </div>

      <div {{bind-attr class=":form-group :left-inner-addon :right-inner-text-addon :addon-with-label :hide-slide lastName:show"}}>
        <label>{{#if relationship}}{{relationship}}'s {{/if}}SSN</label>
        {{input type="password" class="form-control" value=ssn placeholder="SSN"}}
        <span {{bind-attr class=":text-addon ssnIsValid:success:danger"}}>{{ssn_formatted}}{{#if ssnIsValid}}<i class="fa fa-fw fa-check"></i>{{/if}}</span>
        <i class="fa fa-fw fa-lock left"></i>
      </div>

      <div {{bind-attr class=":form-group :hide-slide ssn:show"}}>
        <label>{{#if relationship}}{{relationship}}'s {{/if}}Date of Birth</label>
        {{dob-picker year=dobYear month=dobMonth day=dobDay}}
      </div>

      <div {{bind-attr class=":form-group :hide-slide dobDay:show"}}>
        <label>
          {{#if relationship}}{{relationship}}'s {{/if}}Gender 
          {{#if isSpouse}}
            <i class="fa fa-fw fa-question-circle tooltip-trigger" data-toggle="tooltip" data-placement="top" title="Please note: Trust plans do not allow same-sex marriage dependents"></i>
          {{/if}}
        </label>
        {{gender-picker value=gender removeOptions=removeGenders}}
      </div>

    </div>

    <div {{bind-attr class=":text-center :pad-top :form-group :hide-slide gender:show"}}>
      <label class="big">If {{#if relationship}}your {{relationship}} has{{else}}they have{{/if}} health insurance, please specify the provider below<i class="fa fa-fw fa-question-circle tooltip-trigger" data-placement="left" title="If your spouse or child has current health insurance that you intend on cancelling, do not specify a provider"></i>
      </label>
      {{input class="form-control" value=additionalProvider placeholder="Health Insurance Provider"}}
    </div>
    
    <button type="submit" class="btn btn-primary btn-block" {{bind-attr disabled=formIsNotComplete}}>Add Dependent</button>
  </div>
</form>

<div class="dependent-controls">
  <div class="row">
    <div class="col-md-6">
      {{#unless isMarried}}<a href="#" class="text-muted" {{action "answerDependentQuestion" false}}>I do not have dependents</a>{{/unless}}
    </div>
    <div class="col-md-6 text-right">
      <!--<button type="button" class="btn btn-success" {{bind-attr disabled=cannotAddDependent}} {{action "addDependent"}}><i class="fa fa-fw fa-plus"></i> Add Dependent...</button>-->
    </div>
  </div>
</div>
