<div class="list-group-item dependent">
  <div class="row">
    <div class="col-md-6">
      <h4>
        {{model.fullName}}<br />
        <small>{{model.contextualRelationship}}</small>
      </h4>
    </div>
    <div class="col-md-6 dependent-item-controls">
      <a href="#" class="tooltip-trigger" title="Show Dependent Details" data-placement="bottom" data-container="body" {{action "toggleProperty" "showingDetails"}}>
        <i class="fa fa-fw fa-{{if showingDetails 'angle-up' 'angle-down'}} {{if showingDetails 'active'}}"></i>
      </a>
      <a href="#" class="tooltip-trigger" title="Edit Dependent Information" data-placement="bottom" data-container="body" {{action "toggleProperty" "isEditing"}}>
        <i class="fa fa-fw fa-edit {{if showingDetails 'active'}}"></i>
      </a>
      <a href="#" class="tooltip-trigger" title="Delete Dependent" data-placement="bottom" data-container="body" {{action "toggleProperty" "confirmDelete"}}>
        <i class="text-danger fa fa-fw fa-trash-o {{if confirmDelete 'active'}}"></i>
      </a>
    </div>
  </div>
  <div class="hide-slide text-center {{if showingDetails 'show'}}">
    <p>
      <strong>SSN:</strong> {{model.maskedSSN}}
    </p>
    <p>
      <strong>Date of Birth:</strong> {{model.dob}}
    </p>
    <p>
      {{#if model.additionalProvider}}
        Covered by {{model.additionalProvider}}
      {{/if}}
    </p>
  </div>

  <div class="dependent-item-delete-confirm text-center hide-slide {{if confirmDelete 'show'}}">
    <h3>Are you sure you want to delete this dependent ({{content.fullName}})?</h3>
    <div class="pad-controls">
      <button class="btn btn-danger" {{action "deleteDependent"}}><i class="fa fa-fw fa-trash-o"></i> Delete</button>
      <button class="btn btn-primary close-btn" {{action "toggleProperty" "confirmDelete"}}>Cancel</button>
    </div>
  </div>
</div>
