<div class="full-background login-full-background">
  <div class="meshed-overlay"></div>
</div>

<div class="card pad">
  <div class="card-title">
    <h1>Log in or Enroll</h1>
  </div>
  <div class="card-dialog">
    <form class="login-form" {{action "login" on="submit"}}>
      <div class="form-group left-inner-addon right-inner-text-addon">
        {{input type="password" class="form-control" value=ssn placeholder="Enter Your SSN"}}
        <span {{bind-attr class=":text-addon ssnIsValid:success:danger"}}>
          {{ssnFormatted}}
          {{#if ssnIsValid}}
            <i class="fa fa-fw fa-check"></i>
          {{/if}}
        </span>
        <i class="fa fa-fw fa-lock left"></i>
      </div>

      {{#if loginError}}
        <p class="text-center text-danger">
          <strong>Error logging in:</strong> {{loginError}}
        </p>
      {{/if}}

      <div {{bind-attr class=":hide-slide ssnIsValid:show"}}>
        <button type="submit" class="btn btn-success btn-block" {{bind-attr disabled=loginIsNotValid}}>
          Log in{{#if loggingIn}}<i class="fa fa-fw fa-spin fa-spinner"></i>{{/if}}
        </button>
      </div>
    </form>
  </div>
</div>

{{outlet}}
