<div class="row">
  <div class="col-md-9">
    <form {{action "jumpToNext" on="submit"}}>
      <h1 {{bind-attr id=content.title}} class="enrollment-title">{{content.display}}</h1>
      <hr />
      {{#if content.subtitles}}
        {{partial "enroll-subtitle-mixin"}}
      {{else}}
        {{partial content.title}}
      {{/if}}
    </form>
  </div>
  <div class="col-md-3">
    {{visible-validity section=content}}
  </div>
</div>