<a href="#" class="hidden-md show-sm-menu-link" {{action "toggleProperty" "showSmallMenu"}}>{{#if showSmallMenu}}Hide{{else}}Show{{/if}} Form Menu</a>
<ul {{bind-attr class=":titles showSmallMenu:show-sm-menu"}}>
  {{#each section in content}}
    <li {{bind-attr class=":title section.active:active"}}>
      <a href="#" {{action "changeActive" section.title}}>{{section.display}}</a>
      {{#if section.subtitles}}
        <ul class="subtitles">
          {{#each subtitle in section.subtitles}}
            <li {{bind-attr class=":subtitle subtitle.active:active"}}><a href="#" {{action "changeActive" subtitle.title}}>{{subtitle.display}}</a></li>
          {{/each}}
        </ul>
      {{/if}}
    </li>
  {{/each}}
</ul>
{{progress-tracker progress=progress}}